:root {
    --color-blue-font: #0a224a;
    --color-form: #7a7a7a;
    --color-dark-grey: #b6b6b6;
    --color-grey: #d9d9d9;
    --color-light-blue: #f7faff;
    --color-white: #fff;
    --color-hover: #061835;
    --color-form-error: #e74a3b;
}