#scrollToTop {
  position: fixed;
  bottom: 40px;
  left: 75%;
  display: none;
  cursor: pointer;
  z-index: 15;
  background-color: rgba(205, 211, 221, 0.6);
  border-radius: 8px;

  @media (min-width: 500px) {
    left: 68%;
  }
  @media (min-width: 700px) {
    left: 64%;
  }
  @media (min-width: 768px) {
    left: 80%;
  }
  @media (min-width: 1075px) {
    left: 72%;
  }
  @media (min-width: 1440px) {
    left: 86%;
  }
}

.scroll-up {
  fill: white;
}
