/* Hero */
.hero {
  position: relative;
  max-width: 375px;
  margin: 0 auto;
  background-color: var(--color-dark-grey);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: none;
    max-width: 768px;
    background-color: var(--color-white);
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    padding: 64px 0 100px 0;
  }
}

.hero__wrap {
  position: relative;
  max-width: 375px;
  min-height: 717px;
  margin: 0 auto;
  padding: 140px 0 313px 0;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .hero__wrap {
    max-width: 768px;
    min-width: 375px;
    padding: 0;
    margin-top: 64px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__wrap {
    min-width: 1320px;
    min-height: 530px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

.hero__image-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.hero__image-one {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    left: 32px;
    bottom: 186px;
  }

  @media (min-width: 1440px) {
    bottom: 0;
    top: 265px;
    left: 60px;
  }
}

.hero__image-two {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    right: 32px;
  }

  @media (min-width: 1440px) {
    top: 64px;
    left: 395px;
    right: 0;
  }
}

.hero__image-three {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    position: absolute;
    top: 64px;
    right: 60px;
  }
}

.hero__title {
  font-family: 'Playfair Display', sans-serif;
  max-width: 285px;
  margin-bottom: 14px;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-blue-font);
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 50px;
    max-width: 648px;
    padding-bottom: 381px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero__title {
    padding: 0;
    margin-bottom: 246px;
  }
}

@media screen and (min-width: 768px) {
  .hero__block {
    padding-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__block {
    width: 312px;
    padding-top: 0;
    margin-left: auto;
  }
}

.hero__text {
  font-size: 16px;
  margin-bottom: 28px;
  color: var(--color-blue-font);
}

@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 18px;
    width: 312px;
    margin-bottom: 30px;
  }
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 224px;
  height: 48px;
  padding: 12px 65px;
  background-color: var(--color-blue-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 300ms linear;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--color-hover);
}

@media screen and (min-width: 768px) {
  .hero__button {
    height: 50px;
    padding: 17px 65px;
    font-size: 18px;
    line-height: 1.33;
  }
}
