/* Base */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-blue-font);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

